<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/w3.css">
    <title>Create New Event</title>


</head>

<body>
    <form class="w3-container w3-card-4 w3-light-grey w3-display-middle" action="/events/addnew" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend class="w3-text-red w3-jumbo">Create Event</legend>

            <!-- Text input-->
            <label for="name" class="w3-large">Event Name</label>   <br />
            <input id="name" name="name" type="text" placeholder="event name" class="w3-input w3-border" required="">

            <br />

            <!-- Text input-->
            <label for="month" class="w3-large">Month</label>   <br />
            <input id="month" name="month" type="text" placeholder="month" class="w3-input w3-border">
            <br />
            <!-- Text input-->
            <label for="Day" class="w3-large">Day</label>   <br />
            <input id="day" name="day" type="text" placeholder="day" class="w3-input w3-border" required="">
            <br />
            <!-- Text input-->
            <label for="time" class="w3-large">Time</label>   <br />
            <input id="time" name="time" type="text" placeholder="time" class="w3-input w3-border" required="">
            <br />
            <!-- Text input-->
            <label for="loc" class="w3-large">location</label>   <br />
            <input id="loc" name="loc" type="text" placeholder="location" class="w3-input w3-border" required="">
            <!-- Multiple Radios -->
            <br /><div>
                <label for="pn" class="w3-large">Positions Needed</label><br />
                <label for="pn-0">
                    <input class="w3-radio" type="radio" name="pn" id="pn-0" value="1" checked="checked">
                    Sound
                </label><br />
                <label for="pn-1">
                    <input class="w3-radio" type="radio" name="pn" id="pn-1" value="2">
                    Sound &amp; Lights
                </label><br />
                <label for="pn-2">
                    <input class="w3-radio" type="radio" name="pn" id="pn-2" value="3">
                    Sound &amp; Lights &amp; Backstage
                </label><br />
            </div>   <br />

            <label for="ide" class="w3-large">ID (optional)</label>
            <input id="id" name="ide" type="text" placeholder="ID" class="w3-input w3-border">
            <br />
            <!-- Button -->
            <div>
                <label for="submit"></label>
                <div>
                    <button id="submit" type="submit" name="submit" class="w3-btn w3-green w3-xlarge">submit</button>
                </div>
            </div>

        </fieldset>
    </form>

</body>
</html>