doctype html
title Williamsville North Crew Calendar
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
head
include includes/head.pug
body
  .w3-card-4.w3-mobile.w3-animate-opacity.w3-display-middle(style='width:50%; margin:auto')
    header.w3-container.w3-light-grey
      b
        p.w3-xlarge.w3-text-red Sorry, but: #{error}

