doctype html
title Williamsville North Crew Calendar
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/css/w3.css')
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
head
  style.
    .hov {
    margin:auto;
    }
    a {
    text-decoration:none;
    }
    body {
    background-image: linear-gradient(to right, yellow , green);
    }
    div {
    background-image: linear-gradient(to right, yellow , green)
    }
    p {
    font-family: 'Roboto', sans-serif;
    }
center
  div.w3-container.w3-white
    b
      p.w3-xxxlarge Event List
.w3-container
each event in els
  a(href='/events/' + event.id)
   .hov.w3-section.w3-card-1.w3-hover-shadow.w3-animate-top(style='width:50%;')
    header.w3-container.w3-border.w3-topbar
     b
      p.w3-xxlarge #{event.name}
else
  h1.w3-display-middle.w3-xxlarge There are no upcoming Events
