    
doctype html
title Williamsville North Crew Calendar
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/css/w3.css')
include includes/head.pug
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
head

  style.
    a {
    text-decoration:none;
    }
    p {
    font-family: 'Roboto', sans-serif;
    }
include includes/loginbutton.pug
.w3-container(style="margin: auto;")
  each event in els
   .w3-black.w3-section.w3-card-4.w3-hover-shadow.w3-animate-top.w3-hover-white(style='width:60%; margin:auto')
     a(href='/events/' + event.id)
      header.w3-container.w3-border.w3-topbar
       b
        p.w3-xxlarge.w3-center #{event.name}
  else
    h1.w3-display-middle.w3-xxlarge There are no upcoming Events