<!doctype html>

<html lang="en">
<head>
    <link rel='stylesheet' href='/css/w3.css' />
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Admin Panel</title>


</head>

<body>
    <form class="w3-container w3-display-middle">
        <fieldset>
            <legend>Crew Chief Panel</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <a href="/admin/createevent" class="w3-section w3-btn w3-green w3-large">Create An Event</a><br />
                <a href="/eventlist" class="w3-section w3-btn w3-green w3-large">Go to Events</a>
            </div>

        </fieldset>
    </form>

</body>
</html>