doctype html
title Sign Up
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://www.w3schools.com/lib/w3-colors-win8.css')
.w3-display-middle.w3-green
  form(action="/events/" + datak + "/setpos" target='_self' method='POST')
    h1 Name:
    input(type='text' name='name')
    h2 Position:
    input(type='radio' name='pos' value='1')
    |  Sound
    br
    input(type='radio' name='pos' value='2')
    |  Lights
    br
    input(type='radio' name='pos' value='3')
    |  Backstage 
    br
    input(type='submit' value='Submit')
