doctype html
title Sign Up
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/css/w3.css')
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
head
  style.
    body {
    background-image: linear-gradient(to right, yellow , green);
    }
    p {
    font-family: 'Roboto', sans-serif;
    }
a(href='javascript:history.back()')
  button.w3-btn.w3-green.w3-xlarge.w3-mobile Go back
.w3-animate-opacity
  form.w3-display-middle.w3-container.w3-card-4.w3-light-grey(action="/events/" + datai.id + "/setpos" method='POST')
    fieldset
      // Form Name
      legend.w3-text-red.w3-jumbo Signup for event
      // Text input
      b
        label.w3-xlarge(for='name') Name
      br
      input#name.w3-input.w3-border(name='name' type='text' placeholder='Your Name' required='')
      br
      div
        b
          label.w3-xlarge(for='pos') Position
        label(for='pn-0')
          br
          input#pn-0.w3-radio(type='radio' name='pos' value='1' checked='checked')
          | Sound
        unless datai.pos == "Sound Only"
          label(for='pn-1')
            br
            input#pn-1.w3-radio(type='radio' name='pos' value='2')
            | Lights
        unless datai.pos == "Sound Only" || datai.pos == "Sound & Lights"
          label(for='pn-2')
            br
            input#pn-2.w3-radio(type='radio' name='pos' value='3')
            | Backstage
      br
      // Button
      div
        label(for='submit')
        div
          button#submit.w3-btn.w3-green.w3-xlarge(type='submit' name='submit') submit
    br



