doctype html
title Sign Up
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/css/w3.css')
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
include includes/head.pug
include includes/loginbutton.pug
a(href='javascript:history.back()')
  button.w3-btn.w3-black.w3-mobile.w3-xlarge.w3-section Go back

.w3-animate-opacity(style="display: block; width:50%; margin: auto")
  form.w3-card-4.w3-mobile.w3-animate-opacity.w3-border-black.w3-white(action="/events/" + datai.id + "/waitlist" method='POST' style="width: 90%")
    fieldset
      // Form Name
      legend.w3-text-red.w3-xxxlarge Join waitlist for event
      // Text input
      div
        b
          label.w3-xlarge(for='pos') Position
          unless !('sound' in datai.people)
            label(for='pn-0')
              br
              input#pn-0.w3-radio(type='radio' name='pos' value='1' checked='checked')
              | Sound
          unless !('lights' in datai.people)
            label(for='pn-1')
              br
              input#pn-1.w3-radio(type='radio' name='pos' value='2')
              | Lights
          unless !('backstage' in datai.people)
            label(for='pn-2')
              br
              input#pn-2.w3-radio(type='radio' name='pos' value='3')
              | Backstage
              br
          input(type="hidden" value=name name="name")
          input(type="hidden" value=username name="username")
      br
      // Button
      div
        if(username && name)
          label(for='submit')
          div
            button#submit.w3-btn.w3-black.w3-xlarge(type='submit' name='submit') submit
        else 
          label(for='login')
          div
            .w3-section.w3-red.w3-xxlarge(name='login') Please sign in
    br
include includes/footer.pug


